body,.M9kDrd {
  color: #fff;
}
.s49ete .FGhx7c, .s49ete .DPvwYc, .s49ete .Ww5CL {
  color: #dfdfdf;
}
.Nb2Prf .M9kDrd {
  color: rgba(250, 250, 250, .54);
}
.M9kDrd .DCYkOe {
  color: #dfdfdf;
  fill: #dfdfdf
}
.sLDTkb {
  color: #b6b6b6;
}
.Tuxepf,.sXku1c,.vGowKb,.Wj5EM {
  color: rgba(250, 250, 250, 0.87)
}
.dNF4Ud {
  color: rgba(250, 250, 250, .54);
}
.rRPL7d {
  color: #757575;
}
.cjGgHb .cDhoub:hover .rRPL7d {
  color: #fff;
}
.f81Q3b.Or9bCd .yuvn1 {
  color: #dfdfdf;
}
a.xdjHt.FYQzvb, .xdjHt.FYQzvb.ex5ZEb, div.KSpDGb {
  background-image: url('//rawgit.com/2001Y/google-plus-for-franz/master/logo.png');
  opacity: 1;
}
.Jvazdb,.CKe11d {
  background: #313131;
}
.PvjVhe {
  border-bottom: 1px solid #949494;
}
.CKe11d,.PULuYe,.RIrM6d {
  border-top: 1px solid #949494;
}
.CKe11d,.PULuYe {
  background: #5a5a5a;
}
.R6Ozpf.qhIQqf:after {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), black 50%, white);
}
.cDhoub:not(.iFJd6c) .QeQGL {
  background: #4d4d4d;
}
.Ihwked,.JPdR6b {
  background: #565656;
}
.XS1fT___i25,.GsLz7c {
  background: #6d6d6d !important;
}
#gb#gb a.gb_b {
  color: #dfdfdf;
}
.xAPqUc .Ce1Y1c,.s49ete .XS1fT path {
  fill: #dfdfdf;
}
.Or9bCd .IaFzsc {
  color: #dfdfdf;
}

.gb_fa {
  color: #fff;
  background: #4d4d4d;
}

.JPdR6b {
  color: #fff;
}