.eejsDc {
  background-color: #212121 !important;
}
.original-setting img {
  filter: brightness(0) invert(1);
}
.blur {
  background: rgba(250, 250, 250, 0.12) !important;
}
.window {
  background-color: #424242 !important;
}