a.xdjHt.FYQzvb, .xdjHt.FYQzvb.ex5ZEb, div.KSpDGb {
  background-image: url('//rawgit.com/2001Y/google-plus-for-franz/master/logo.png');
  opacity: 1;
}
.XS1fT {
  background-color: #616161 !important;
}
.eejsDc {
  background-color: #212121 !important;
}
.original-setting img {
  filter: brightness(0) invert(1);
}
.blur {
  background: rgba(250, 250, 250, 0.12) !important;
}
.window {
  background-color: #424242 !important;
}