.OFyC1e {
  width: 65px;
}
.nWGHWc.k7iNHb .DAbEod {
  margin-left: 0px
}
.pd4VHb {
  margin-left: 65px; width: calc(100% - 90px);
}
.AlZIPe {
  display: none;
}
.PvjVhe {
  border: 0; padding-bottom: 0px; margin-bottom: 0px;
}
.M9kDrd:nth-last-child(-n+3) {
  display: none;
}
.aPExg {
  width: 90%; margin-left: 70px;
}
.gb_ea,#gbwa {
  visibility: hidden;
}
.JhVB8e {
  width: 120px;
}
.YRgYyc {
  max-width: 9999999px; margin-left: 20px; margin-right: 0;
}
.TdBWGb {
  display: none;
}
.M9kDrd {
  border-radius: 50%; padding: 0 10px; margin: 0 10px;
}
.pWQY8d {
  background-color: #e7e7e7;
}
.pWQY8d {
  background-color: #e7e7e7;
}
.jxKp7.H68wj,.GcESAf {
  max-width: 9999px;
}