.OFyC1e {
  width: 65px;
}
.nWGHWc.k7iNHb .DAbEod {
  margin-left: 0px
}
.pd4VHb {
  margin-left: 65px; width: calc(100% - 90px);
}
.TdBWGb,.Nb2Prf,.AlZIPe,.gb_vb,.gb_Db,.gb_Ea,.gb_0b {
  display: none !important;
}
.gb_wb {
  margin: 10px 20px !important;
  position: relative;
}
.gb_Ab {
  background-size: 48px 48px !important;
  height: 48px !important;
  width: 48px !important;
}
.gb_lb {
  padding: 3px 0 !important;
  width: 48px !important;
}
.gb_yb {
  position: absolute;
  top: 50%;
}
.gb_4b:after {
  content: "ブランドアカウント";
  visibility: visible;
}
.PvjVhe {
  border: 0; padding-bottom: 0px; margin-bottom: 0px;
}
.M9kDrd:nth-last-child(-n+3) {
  display: none;
}
.aPExg {
  width: 90%; margin-left: 70px;
}
#gbwa,.gb_4b {
  visibility: hidden;
}
.JhVB8e {
  width: 120px;
}
.YRgYyc {
  max-width: 9999999px; margin-left: 20px; margin-right: 0;
}
.M9kDrd {
  border-radius: 50%; padding: 0 10px; margin: 0 10px;
}
.pWQY8d {
  background-color: #e7e7e7;
}
.pWQY8d {
  background-color: #e7e7e7;
}
.jxKp7.H68wj,.GcESAf {
  max-width: 9999px;
}