.OFyC1e {
  width: 65px;
}
.nWGHWc.k7iNHb .DAbEod {
  margin-left: 0px
}
.pd4VHb {
  margin-left: 65px; width: calc(100% - 90px);
}
.TdBWGb,.Nb2Prf,.AlZIPe,.gb_vb,.gb_Db,.gbp1,.gb_0b {
  display: none !important;
}
.gb_wb {
  margin: 10px 20px !important;
  position: relative;
}
.gb_Ab {
  background-size: 48px 48px !important;
  height: 48px !important;
  width: 48px !important;
}
.gb_Xb {
  margin-right: 20px;
}
.gb_Qb {
  margin: 0 !important;
}
.gb_lb {
  padding: 3px 0 !important;
  width: 48px !important;
}
.gb_yb,.gb_Zb {
  position: absolute;
  top: 22px;
}
.gb_4b {
  height: 1.5em;
}
.gb_4b:before {
  content: "ブランドアカウント";
  visibility: visible;
}
.PvjVhe {
  border: 0;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.M9kDrd:nth-last-child(-n+3) {
  display: none;
}
.aPExg {
  width: 90%; margin-left: 70px;
}
#gbwa,.gb_4b {
  visibility: hidden;
}
.JhVB8e {
  width: 120px;
}
.YRgYyc {
  max-width: 9999999px;
  margin-left: 20px;
  margin-right: 0;
}
.M9kDrd,.original-setting {
  height: 50px;
  border-radius: 50%;
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
  opacity: .85;
  line-height: 50px;
  display: block;
}
.original-setting:hover {
  background-color: #e7e7e7
}
.pWQY8d {
  background-color: #e7e7e7;
}
.pWQY8d {
  background-color: #e7e7e7;
}
.jxKp7.H68wj,.GcESAf {
  max-width: 9999px;
}
.window {
  width: 60%;
  height: 60%;
  border-radius: 3px;
  padding: 15px;
  background: #fff;
  position: fixed;
  top: calc(50% - 60%/2);
  left: calc(50% - 60%/2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
  visibility: hidden;
  transition: .3s;
  opacity: 0;
  z-index: 999999999999;
}
.blur {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: .3s;
  opacity: 0;
  z-index: 99999;
  backdrop-filter: blur(3px);
}
.open {
  visibility: visible;
  opacity: 1;
}